<div class="modal-body">
  <h1 mat-dialog-title>Password Generator</h1>
  <form [formGroup]="formGeneratePassword" (ngSubmit)="onSubmit()" valueChanges="onValueChanges()">
    <section>
      <p class="example-margin">Password format:</p>
      @for (opt of useWordsOptions; track opt.label) {
        <div class="flex items-center gap-2">
          <p-radiobutton
            formControlName="useWordsFormControl"
            name="selectedCategory"
            [inputId]="opt.label"
            [value]="opt.value"
          />
          <label [for]="opt.value"> {{ opt.label }} </label>
        </div>
      }
    </section>
    <p-divider />
    <span style="margin-right: 20px">Password minimum length:</span>
    <input
      type="text"
      pInputText
      placeholder="Minimum length"
      type="text"
      pattern="[0-9]{1,3}"
      formControlName="minLengthFormControl"
      required
    />
    <span class="example-margin">Min value: {{ minLength }} | Max value: 999</span>
    <p-divider />
    <section>
      <label for="specialChar" class="example-margin">Contains special characters:</label>
      <p-checkbox id="specialChar" formControlName="specialCharFormControl" [binary]="true" />
      <i class="example-margin">
        <span>Special characters: </span>
        <span>{{ specialChars }}</span>
      </i>
    </section>
    <p-divider />
    <section>
      <label for="readable">Contains only readable characters:</label>
      <p-checkbox id="readable" formControlName="readableFormControl" [binary]="true" />
      <i>
        <span class="example-margin">Avoid using: </span>
        <span class="example-margin">i l o 0 1</span>
      </i>
    </section>
    <p-divider />
  </form>

  <div id="password-field" class="password-field">
    <div id="password-input">
      <input
        type="text"
        pInputText
        placeholder="Generated password"
        type="text"
        [(ngModel)]="generatedPassword"
        required
      />
    </div>
    <div id="generate-password-button-container">
      <p-button
        variant="text"
        severity="secondary"
        icon="pi pi-refresh"
        id="generate-password-button"
        (click)="setNewPassword()"
      />
    </div>
  </div>
  <div>
    <app-progress-bar
      [color]="progressBarColor()"
      [value]="progressBarValue()"
      [borderRadius]="'0px'"
      [height]="'5px'"
      [displayValue]="false"
    ></app-progress-bar>
  </div>
  <span class="example-margin">
    <span>Generated password strength: </span>
    <span [ngClass]="progressBarColor()">{{ passwordStrength() }} ({{ progressBarValue() }}%)</span>
  </span>
  <p-button
    variant="text"
    severity="secondary"
    label="Set Password"
    type="submit"
    [disabled]="disableSubmit()"
    (click)="onSubmit()"
  />
</div>
