<form [formGroup]="formGeneratePassword" (ngSubmit)="onSubmit()" valueChanges="onValueChanges()">
  <section>
    <label for="useWordsFormControl" class="text-sm mx-4">Password containing words:</label>
    <p-checkbox id="specialChar" formControlName="useWordsFormControl" [binary]="true" />
  </section>
  <p-divider />
  <label for="minLengthFormControl" class="text-sm mx-4">Password minimum length:</label>
  <input
    type="text"
    pInputText
    placeholder="Minimum length"
    type="text"
    pattern="[0-9]{1,3}"
    formControlName="minLengthFormControl"
    required
  />
  <span class="text-sm mx-4">Min value: {{ minLength }} | Max value: 999</span>
  <p-divider />
  <section>
    <label for="specialChar" class="text-sm mx-4">Contains special characters:</label>
    <p-checkbox id="specialChar" formControlName="specialCharFormControl" [binary]="true" />
    <i class="text-sm mx-4">
      <span>Special characters: </span>
      <span>{{ specialChars }}</span>
    </i>
  </section>
  <p-divider />
  <section>
    <label for="readable" class="text-sm mx-4">Contains only readable characters:</label>
    <p-checkbox id="readable" formControlName="readableFormControl" [binary]="true" />
    <i>
      <span class="text-sm mx-4">Avoid using: </span>
      <span class="text-sm">i l o 0 1</span>
    </i>
  </section>
  <p-divider />
</form>

<div class="flex items-center gap-2 mb-2">
  <input
    class="w-full"
    type="text"
    pInputText
    placeholder="Generated password"
    type="text"
    [(ngModel)]="generatedPassword"
    required
  />
  <div class="flex items-center">
    <p-button
      variant="outlined"
      severity="secondary"
      icon="pi pi-refresh"
      id="generate-password-button"
      (click)="setNewPassword()"
    />
  </div>
</div>
<app-progress-bar
  [color]="progressBarColor()"
  [value]="progressBarValue()"
  [borderRadius]="'0px'"
  [height]="'5px'"
  [displayValue]="false"
></app-progress-bar>
<span class="text-sm mx-4">
  <span>Generated password strength: </span>
  <span [ngClass]="progressBarColor()"
    >{{ passwordStrengthStr() }} ({{ progressBarValue() }}%)</span
  >
</span>
<div class="flex justify-end gap-2">
  <p-button variant="text" severity="secondary" label="Cancel" (click)="closeDialog()" />
  <p-button
    variant="text"
    severity="secondary"
    label="Set Password"
    type="submit"
    [disabled]="disableSubmit()"
    (click)="onSubmit()"
  />
</div>
