.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.export-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 14px;
}

.export-title-text {
    display: inline-block;
    width: 100%;
}
