#settings-container {
 height: 100vh;
  width: calc(100vw - 140px);
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#settings-body {
  display: flex;
  width: 100%;
  height: 88vh;
  background: red;
}

#settings-menu-container {
  background-color: #faf9fd;
  width: 100%;
        /* display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center; */
}

.settings-button-container {
    margin-top: 20px;
}

.settings-button {
    width: 200px;
}

.modal-field {
    margin: 0;
}

#password-field {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    width: 100%;
}

#password-input {
    flex: 1;
}

#generate-password-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#generate-password-button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-width: 0;
}

.icon-display {
    transform: scale(1.3);
    line-height: 1;
    margin: auto;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom:10px;
    background-color: #d11c3125;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.settings-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 14px;
}

.settings-title-text {
    display: inline-block;
    width: 100%;
}

.settings-title-divider {
    display: flex;
    align-items: center;
    width: 100%;
}

.toolbar-title {
  width: 100px;
}