<div id="settings-container">
  <i class="pi pi-cog"></i>
  <span class="toolbar-title"> Settings</span>
  <div id="settings-body">
    <div id="settings-menu-container">
      <div class="settings-button-container">
        <button mat-raised-button class="settings-button" (click)="openChangeUserNameModal()">
          Change Username
          <i class="pi pi-user"></i>
        </button>

      </div>
      <div class="settings-button-container">
        <button mat-raised-button class="settings-button" (click)="openChangePasswordModal()">
          Change Password
          <i class="pi pi-lock"></i>

        </button>

      </div>
    </div>
  </div>
</div>
