<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
  <p-iconfield>
    <input
      class="w-full"
      type="text"
      pInputText
      placeholder="New Username"
      formControlName="username"
      required
    />
    <p-inputicon class="pi pi-user" />
  </p-iconfield>
  <div class="flex justify-end gap-2 mt-4">
    <p-button
      variant="text"
      severity="secondary"
      label="Cancel"
      type="submit"
      (onClick)="closeDialog(); $event.preventDefault()"
    />
    <p-button
      variant="text"
      severity="secondary"
      type="submit"
      label="Change Username"
      [disabled]="form.invalid || loading"
    />
  </div>
</form>
