<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
  <p-floatlabel variant="in">
    <input
      type="text"
      class="w-full"
      pInputText
      placeholder="Vault Name"
      formControlName="vaultName"
      required
    />
    <label for="vaultName">Vault Name</label>
  </p-floatlabel>
  <div class="flex justify-end gap-2 mt-4">
    <p-button
      variant="text"
      severity="secondary"
      label="Edit"
      type="submit"
      [disabled]="form.invalid || loading"
    />
  </div>
</form>
