#vault-container {
  width: 96vw;
  height: 100%;
  display: flex;
  position: absolute;
  left: 60px;
  top: 0;
  /* padding-left: 60px; */
  flex-direction: column;
  /* background-color: #faf9fd; */
}


#toolbar {
  background-color: #faf9fd;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-start;
}

.toolbar-button {
  margin: 0 8px;
}

#vault-grid-container {
  display: flex;
  width: 100%;
  height: 88vh;
  background: red;
}

.left-container {
  background-color: #faf9fd;
  width: 60%;
  border-right: 3px solid #b1b1b1;
}

.left-container-fullscreen {
  width: 100%;
  border-right: none;
}

#stacks-container {
  background-color: #faf9fd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow: scroll;
}

.card-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container {
  width: 40%;
  background-color: #faf9fd;
}

#no-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#no-data-button {
  transform: scale(2);
}

#searchbar-container {
  width: 400px;
  display: flex;
  align-items: center;

}

#search-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 20px;
  transform: scale(0.86);
}

/* Hide the subscript wrapper in the search field as we don't need any hint or error message for the search bar */
:host ::ng-deep #search-field .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}

.toolbar-title {
  width: 100px;
}