.toolbar {
  background-color: #faf9fd;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.toolbar-button {
  margin: 0 8px;
}

.grid-container {
  display: flex;
  width: 100%;
  height: 88vh;
  background: red;
  /* border-top: 1px solid #b1b1b1; */
}

.left-container {
  background-color: #faf9fd;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 3px solid #b1b1b1;
}

.left-container-fullscreen {
  width: 100%;
}

#stacks-container {
  background-color: #faf9fd;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  overflow: scroll;
}

.card-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-container {
  width: 40%;
  background-color: #faf9fd;
}

#no-data {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#no-data-button {
  transform: scale(2);
}

#searchbar-container {
  width: 600px;
  /* margin-left: 20px; */
  /* align-self: flex-start; */
  display: flex;
  align-items: center;

}

#search-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 20px;
  transform: scale(0.86);
}


/* Hide the subscript wrapper in the search field as we don't need any hint or error message for the search bar */
:host ::ng-deep #search-field .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}