#what-is-master-password-container {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0px;
    color: #333;
    max-width: 900px;
    margin: auto;
    overflow: scroll;
    height: 95vh;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    margin-bottom: 15px;
}

.highlighted {
    background-color: #f4f4f4;
    padding: 3px 20px;
    margin: 10px 0;
}

.highlight-blue {
    border-left: 4px solid #3498db;
}

.highlight-red {
    border-left: 4px solid #db3434;
}

.security-tip {
    background-color: #e8f4fc;
    padding: 3px 20px;
    border-radius: 5px;
    margin: 10px 0;
}