<div
  class="w-50 h-20 rounded-xs m-1 cursor-pointer bg-[#4867e2] text-[#ebeaea]! hover:bg-[#4867e2]/90"
  (click)="click()"
  (keypress.enter)="click()"
  tabindex="0"
  [ngClass]="{ 'bg-[#273a84]!': credential().selected }"
>
  <div class="px-3 py-2">
    <h2>{{ credential().decryptedData?.title ?? '*********' }}</h2>
    <div class="flex items-center gap-1">
      @if (!credential().decryptedData) {
        <i class="pi pi-lock"></i>
      }
      @if (!credential().vaultId) {
        <p-button
          variant="text"
          severity="secondary"
          icon="pi pi-question"
          [disabled]="true"
          variant="text"
          >Orphaned</p-button
        >
      }
    </div>
  </div>
  <div class="p-3">
    @for (tagName of credential().tagNames; track tagName; let i = $index) {
      <app-chip [label]="tagName"></app-chip>
    }
  </div>
</div>
