<div class="card" (click)="click()" [ngClass]="{'card-selected': isSelected}">
  <div class="card-content">
    <h2 class="card-title">{{login.decryptedData?.title ?? '*********' }}</h2>
    <div  class="card-icon-container">
      <mat-icon *ngIf="!login.decryptedData">lock</mat-icon>
      @if (!login.vaultId) {
        <button class="card-icon" mat-button [disabled]="true"><mat-icon class="card-icon">folder_off</mat-icon>Orphaned</button>
      }
    </div>
  </div>
  <div class="card-footer">
    <app-chip *ngFor="let tagName of login.tagNames; let i = index" [label]="tagName"></app-chip>
  </div>
</div>
