<nav id="navbar-container">
  <div class="navbar-element" pTooltip="The Vaults are locked" tooltipPosition="right"
    [tooltipDisabled]="!vaultService.isUnlocked()">
    @if (!vaults() || vaults().length === 0) {
    <p-button label="Unlock" icon="pi pi-lock" class="full-width navbar-button" routerLink="/unlock" />
    }
    @else {
    <p-button label="Vaults" (click)="displayMenu()" class="full-width navbar-button" />
    <!-- <mat-menu [xPosition]="'after'" #menu="matMenu">
      <button mat-menu-item (click)="openCreateVaultModal()">
        <mat-icon>add</mat-icon>
        Create New Vault
      </button>
      @for (vault of vaults(); track vault) {
        <button mat-menu-item [routerLink]="['/vault', vault.id]">
          {{ vault.name }}
        </button>
      }
    </mat-menu> -->

    }

  </div>
  <div class="navbar-element">
    <p-button aria-label="Settings" class="full-width navbar-button" icon="pi pi-cog" routerLink="/settings" />
  </div>
  @if (vaultService.isUnlocked()) {
  <div class="navbar-element">
    <p-button class="full-width navbar-button" icon="pi pi-trash" routerLink="/recycle-bin" />
  </div>
  }
  <div class="navbar-element">
    <p-button class="full-width navbar-button" icon="pi pi-info" aria-label="FAQ" (click)="openInNewTab('/faq')" />
  </div>
  <span class="spacer"></span>
  <div class="navbar-element">
    <p-button class="full-width navbar-button" icon="pi pi-sign-out" aria-label="Signout" (click)="signout()" />
  </div>
  <div class="navbar-element navbar-text-element" matTooltip="https://github.com/ndudnicz/silmaril"
    matTooltipPosition="right">
    <a href="https://github.com/ndudnicz/silmaril" class="link" target="_blank">
      <img src="assets/images/github.svg" width="17" height="17">
      Silmaril
    </a>
  </div>
</nav>
