<div class="modal-body">
  <div class="restore-login-title-container">
    <div class="restore-login-title-text">
      <p>Restore deleted credentials to a vault.</p>
      <p>Choose a vault to restore the orphaned deleted credentials to.</p>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
    <p-select
      class="w-full"
      formControlName="vaultId"
      [options]="data.vaults"
      optionValue="id"
      optionLabel="name"
      appendTo="body"
    />
    <br />
    <div class="buttons">
      <p-button label="Cancel" variant="text" severity="secondary" (click)="closeDialog()" />
      <p-button
        label="Restore Credentials"
        variant="text"
        severity="secondary"
        type="submit"
        [disabled]="form.invalid || loading"
      />
    </div>
  </form>
</div>
