<div class="w-full text-sm mb-2">
  <p>Restore deleted credentials to a vault.</p>
  <p>Choose a vault to restore the orphaned deleted credentials to.</p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
  <p-select
    class="w-full"
    formControlName="vaultId"
    [options]="data.vaults"
    optionValue="id"
    optionLabel="name"
    appendTo="body"
  />
  <br />
  <div class="flex justify-end gap-2 mt-2">
    <p-button label="Cancel" variant="text" severity="secondary" (click)="closeDialog()" />
    <p-button
      label="Restore Credentials"
      variant="text"
      severity="secondary"
      type="submit"
      [disabled]="form.invalid || loading"
    />
  </div>
</form>
