<div class="w-full">
  <form>
    <p-iftalabel>
      <input
        class="w-full"
        id="title"
        pInputText
        type="text"
        [value]="title()"
        name="title"
        readonly="true"
        (click)="selectInputText($event)"
        [cdkCopyToClipboard]="title()"
      />
      <label for="title">Title</label>
    </p-iftalabel>

    <p-iftalabel>
      <input
        class="w-full"
        id="identifier"
        pInputText
        type="text"
        [value]="identifier()"
        name="identifier"
        readonly="true"
        (click)="selectInputText($event)"
        [cdkCopyToClipboard]="identifier()"
      />
      <label for="identifier">Identifier</label>
    </p-iftalabel>

    <div class="flex gap-2 w-full">
      <p-iftalabel class="w-full">
        <input
          class="w-full"
          id="password"
          pInputText
          type="text"
          [value]="password()"
          name="password"
          [type]="showPassword() ? 'text' : 'password'"
          readonly="true"
          (click)="selectInputText($event)"
          [cdkCopyToClipboard]="password()"
        />
        <label for="password">Password</label>
      </p-iftalabel>
      <div class="flex items-center">
        <p-button
          variant="outlined"
          severity="secondary"
          [icon]="showPassword() ? 'pi pi-eye' : 'pi pi-eye-slash'"
          id="generate-password-button"
          (click)="togglePasswordVisibility()"
        />
      </div>
    </div>
    <p-iftalabel>
      <input
        class="w-full"
        id="url"
        pInputText
        type="text"
        [value]="url()"
        name="url"
        readonly="true"
        (click)="selectInputText($event)"
        [cdkCopyToClipboard]="url()"
      />
      <label for="url">Url</label>
    </p-iftalabel>
    <p-iftalabel class="w-full">
      <textarea
        class="w-full min-h-24"
        id="notes"
        pTextarea
        [value]="notes()"
        name="notes"
        readonly="true"
      ></textarea>
      <label for="notes">Notes</label>
    </p-iftalabel>
    <br />
  </form>
  <div class="flex justify-end gap-2 mt-4">
    <p-button variant="text" severity="secondary" label="Delete" (click)="openSoftDeleteModal()" />
    <p-button variant="text" severity="secondary" label="Edit" (click)="openEditModal()" />
  </div>
</div>
