<div id="selected-credential-container">
  <div class="selected-credential-header">
    <div>
      <span class="selected-credential-header-title">Credential</span>
    </div>
    <span class="spacer"></span>
  </div>
  <div class="selected-credential-body">
    <form>
      <p-iftalabel>
        <input
          id="title"
          pInputText
          class="selected-credential-field"
          type="text"
          [(ngModel)]="title"
          name="title"
          readonly="true"
          (click)="selectInputText($event)"
          [cdkCopyToClipboard]="title()"
        />
        <label for="title">Title</label>
      </p-iftalabel>

      <p-iftalabel>
        <input
          id="identifier"
          pInputText
          class="selected-credential-field"
          type="text"
          [(ngModel)]="identifier"
          name="identifier"
          readonly="true"
          (click)="selectInputText($event)"
          [cdkCopyToClipboard]="identifier()"
        />
        <label for="identifier">Identifier</label>
      </p-iftalabel>
      <br />
      <p-iftalabel>
        <input
          id="password"
          pInputText
          class="selected-credential-field"
          type="text"
          id="selected-credential-password"
          [(ngModel)]="password"
          name="password"
          [type]="showPassword() ? 'text' : 'password'"
          readonly="true"
          (click)="selectInputText($event)"
          [cdkCopyToClipboard]="password()"
        />
        <label for="password">Password</label>

        @if (showPassword()) {
          <p-button
            variant="text"
            severity="secondary"
            icon="pi pi-eye-slash"
            (click)="togglePasswordVisibility()"
          />
        } @else {
          <p-button
            variant="text"
            severity="secondary"
            icon="pi pi-eye"
            (click)="togglePasswordVisibility()"
          />
        }
      </p-iftalabel>
      <br />
      <p-iftalabel>
        <input
          id="url"
          pInputText
          class="selected-credential-field"
          type="text"
          [(ngModel)]="url"
          name="url"
          readonly="true"
          (click)="selectInputText($event)"
          [cdkCopyToClipboard]="url()"
        />
        <label for="url">Url</label>
      </p-iftalabel>
      <br />
      <p-iftalabel>
        <textarea
          id="notes"
          pTextarea
          class="my-textarea selected-credential-notes"
          [(ngModel)]="notes"
          name="notes"
          readonly="true"
        ></textarea>
        <label for="notes">Notes</label>
      </p-iftalabel>
      <br />
    </form>
  </div>
  <div class="selected-credential-footer">
    <p-button variant="text" severity="secondary" label="Delete" (click)="openSoftDeleteModal()" />
    <p-button variant="text" severity="secondary" label="Edit" (click)="openEditModal()" />
  </div>
</div>
