#selected-credential-container {
  height: 100%;
  padding: 0px 12px;
}

.unset-credential-button {
  position: relative !important;
  top: 0 !important;
  cursor: pointer;
}

.selected-credential-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.selected-credential-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 4px;
}

.selected-credential-notes {
  height: 200px;
}

::ng-deep .selected-credential-field {
  cursor: pointer;
}

::ng-deep .selected-credential-field.mat-focused .mat-form-field-underline {
  cursor: pointer;
}

::ng-deep .selected-credential-field input {
  caret-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
