<div class="modal-body">
  <div class="restore-login-title-container">
    <div class="restore-login-title-text">
      <p>Restore deleted logins to a vault.</p>
      <p>Choose a vault to restore the orphaned deleted logins to.</p>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
    <p-select formControlName="vaultId" [options]="vaults()" optionValue="id" optionLabel="name" />
    <br>
    <div class="buttons">
      <p-button type="submit" [disabled]="form.invalid || loading">Restore
        Logins</p-button>
    </div>
  </form>
</div>
