<div id="recycle-bin-container">
    <mat-toolbar id="toolbar">
        <div id="searchbar-container">
            <mat-form-field id="search-field" appearance="outline" floatLabel="always">
                <input matInput type="text" [(ngModel)]="searchValue" [placeholder]="searchBarPlaceholder"
                    (ngModelChange)="search($event)" [ngModelOptions]="{standalone: true}">
                @if (searchValue) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
        </div>
        <span class="spacer"></span>
        <div class="toolbar-button">
            <button mat-icon-button  matTooltip="Add Login">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="toolbar-button">
            <button mat-icon-button  matTooltip="Change Master Password">
                <mat-icon>vpn_key</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div id="recycle-bin-grid-container">
            <div id="recycle-bin-stacks-container">
                @if (displayedLogins.length == 0 && loading == false && searchValue == '') {
                <div id="no-data">
                    <span>Empty</span>
                    <br>
                </div>
                }
                @if (displayedLogins.length == 0 && loading == false && searchValue != '') {
                <div id="no-data">
                    <span>No results found</span>
                    <mat-icon id="no-data-icon" class="margin-top-10">search_off</mat-icon>
                    <br>
                </div>
                }
                 @if (displayedLogins.length > 0) {
                <app-card-stacks class="card-stacks" [displayedLogins]="displayedLogins"></app-card-stacks>
                }
            </div>
        </div>
</div>