<div id="recycle-bin-container">
    <div class="toolbar-button">
    </div>
    <div id="searchbar-container">
        <input matInput type="text" [(ngModel)]="searchValue" [placeholder]="searchBarPlaceholder"
          [ngModelOptions]="{standalone: true}">
        @if (searchValue() != '') {
        <p-button variant="text" aria-label="Clear" (click)="clearSearch()">
          <i class="pi pi-times"></i>
        </p-button>
        }
    </div>
    <span class="spacer"></span>
    @if (selected().length > 0) {
    <div class="toolbar-button">
      <button mat-icon-button matTooltip="Clear Selection" (click)="clearSelection()">
        <mat-icon [ngClass]="{'disabled': selected().length == 0}">cancel</mat-icon>
      </button>
    </div>
    }
    <span id="selected-logins-counter">
      <i>({{ selected().length }} selected)</i>
    </span>
    <div class="toolbar-button">
      <button mat-icon-button matTooltip="Restore Selected Logins" [disabled]="selected().length == 0"
        (click)="restoreSelectedLogins()">
        <mat-icon [ngClass]="{'disabled': selected().length == 0}">restore_from_trash</mat-icon>
      </button>
    </div>
    <div class="toolbar-button">
      <button mat-icon-button matTooltip="Permanently Delete Selected Logins" [disabled]="selected().length == 0"
        (click)="confirmDeleteSelectedLogins()">
        <mat-icon [ngClass]="{'disabled': selected().length == 0}">delete_forever</mat-icon>
      </button>
    </div>

  <div id="recycle-bin-grid-container">
    <div id="recycle-bin-stacks-container">
      @if (displayedCredentials().length == 0 && loading == false && searchValue() == '') {
      <div id="no-data">
        <span>Empty</span>
        <br>
      </div>
      }
      @if (displayedCredentials().length == 0 && loading == false && searchValue() != '') {
      <div id="no-data">
        <span>No results found</span>
        <br>
      </div>
      }
      @if (displayedCredentials().length > 0) {
      <app-card-stacks class="card-stacks" (clickEvent)="select($event)"
        [displayedCredentials]="displayedCredentials()"></app-card-stacks>
      }
    </div>
  </div>
</div>
