.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.unlock-footer {
    display: flex;
    justify-content: flex-end;
}

#what-is-master-password-link {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px !important;
}