<div class="flex justify-center items-center h-full w-full">
  <div class="flex-1 m-auto max-w-80 h-80">
    <h3 class="text-xl font-bold text-center">Enter your master password</h3>
    <div class="flex justify-center mb-2">
      <a routerLink="/what-is-master-password" class="link" target="_blank">
        What is a Master Password?
      </a>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
      <p-iconfield>
        <input
          class="w-full"
          type="password"
          pInputText
          placeholder="Master Password"
          formControlName="password"
          required
        />
        <p-inputicon class="pi pi-lock" />
      </p-iconfield>
      <div class="unlock-footer">
        <p-button
          variant="text"
          severity="secondary"
          label="Unlock"
          type="submit"
          [disabled]="masterPasswordFormControl.invalid || loading"
        />
      </div>
    </form>
  </div>
</div>
