.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100vw - 130px);
}

.unlock-footer {
    display: flex;
    justify-content: flex-end;
}

#what-is-master-password-link {
    margin-bottom: 10px !important;
}