<div class="home-container">
    <div>
        <h3>Enter your master password</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
            <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Master Password</mat-label>
                <input matInput placeholder="" type="password" formControlName="password" required>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <br>
            <div class="unlock-footer">
                <button type="submit" mat-raised-button [disabled]="masterPasswordFormControl.invalid || loading">Unlock</button>
            </div>
        </form>
    </div>
</div>