<div id="add-login-modal" class="add-login-modal">
    <h1 mat-dialog-title>Password Generator</h1>
    <mat-icon id="close-dialog-button" (click)="closeDialog()">close</mat-icon>
    <mat-dialog-content>
        <form [formGroup]="formGeneratePassword" (ngSubmit)="onSubmit()" valueChanges="onValueChanges()">
            <!-- <mat-checkbox formControlName="readableFormControl">Pepperoni</mat-checkbox> -->
            <section>
                <label class="example-margin">Password format:</label>
                <br>
                <mat-radio-group formControlName="useWordsFormControl">
                    <mat-radio-button class="example-margin" value="true">Words <i>ex:
                            Barad-dur65)-Tulip56#</i></mat-radio-button>
                    <br>
                    <mat-radio-button class="example-margin" value="false">Random characters</mat-radio-button>
                </mat-radio-group>
            </section>
            <mat-divider></mat-divider>
            <span style="margin-right: 20px;">Password minimum length:</span>
            <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                <mat-label>Minimum length</mat-label>
                <input matInput type="text" pattern="[0-9]{1,3}" formControlName="minLengthFormControl" required>
                <mat-hint>Min value: {{minLength}} | Max value: 999</mat-hint>
            </mat-form-field>
            <mat-divider></mat-divider>
            <section>
                <mat-label>Contains special characters:</mat-label>
                <mat-checkbox formControlName="specialCharFormControl"></mat-checkbox>
                <!-- <br> -->
                <i class="example-margin">
                    <span>Special characters: </span>
                    <span>{{ specialChars }}</span>
                </i>
            </section>
            <mat-divider></mat-divider>
            <section>
                <mat-label>Contains only readable characters:</mat-label>
                <mat-checkbox formControlName="readableFormControl"></mat-checkbox>
                <!-- <br> -->
                <i>
                    <span class="example-margin">Avoid using: </span>
                    <span class="example-margin">i l o 0 1</span>
                </i>
            </section>
            <mat-divider></mat-divider>
        </form>

        <div id="password-field" class="password-field">
            <div id="password-input">
                <mat-form-field class="full-width modal-field" appearance="fill" floatLabel="always">
                    <mat-label>Generated password</mat-label>
                    <input matInput type="text" [(ngModel)]="generatedPassword"
                        (ngModelChange)="setProgressPasswordStrengthValues()">
                </mat-form-field>
            </div>
            <div id="generate-password-button-container">
                <button mat-raised-button id="generate-password-button" (click)="setNewPassword()">
                    <mat-icon class="icon-display">autorenew</mat-icon>
                </button>
            </div>
        </div>
        <div>
            <app-progress-bar [color]="progressBarColor" [value]="progressBarValue" [borderRadius]="'0px'"
                [height]="'5px'" [displayValue]="false"></app-progress-bar>

        </div>
        <span class="example-margin">
            <span>Generated password strength: </span>
            <span [ngClass]="progressBarColor">{{ passwordStrength }} ({{ progressBarValue }}%)</span>

        </span>
        <button style="position: relative; float: inline-end;" mat-raised-button color="primary" type="submit"
            [disabled]="disableSubmit()" (click)="onSubmit()">Set Password</button>

    </mat-dialog-content>
</div>