<div class="modal-body">
  <h1 mat-dialog-title>Add Credentials</h1>
  <form [formGroup]="form">

    <input type="text" pInputText placeholder="Title" formControlName="titleFormControl" required />
    @if (titleFormControl.hasError('maxlength')) {
    <p-message severity="error">
      Too long : {{ titleFormControl.value?.length }} / {{ characterLimit }}
    </p-message>
    }


    <input type="text" pInputText placeholder="Identifier : email or username" formControlName="identifierFormControl"
      required />
    @if (identifierFormControl.hasError('maxlength')) {
    <p-message severity="error">
      Too long : {{ identifierFormControl.value?.length }} / {{ characterLimit }}
    </p-message>
    }

    <div id="password-field" class="password-field">
      <div id="password-input">

        <input type="text" pInputText placeholder="Password" formControlName="passwordFormControl" required />
        @if (passwordFormControl.hasError('maxlength')) {
        <p-message severity="error">
          Too long : {{ passwordFormControl.value?.length }} / {{ characterLimit }}
        </p-message>
        }

      </div>
      <div id="generate-password-button-container">
        <p-button icon="pi pi-sparkles" id="generate-password-button" (click)="generatePassword()" />
      </div>
    </div>


    <input type="text" pInputText placeholder="Url" formControlName="urlFormControl" />
    @if (urlFormControl.hasError('maxlength')) {
    <p-message severity="error">
      Too long : {{ urlFormControl.value?.length }} / {{ characterLimit }}
    </p-message>
    }

    <textarea type="text" pInputText placeholder="Notes" formControlName="notesFormControl">
        </textarea>
    <span>Length limit : {{ notesCharacterCount() }} / 2000</span>

    @if (notesFormControl.hasError('maxlength')) {
    <p-message severity="error">
      Too long : {{ notesFormControl.value?.length }} / {{ characterLimit }}
    </p-message>
    }


    <p-button type="submit" [disabled]="!form.valid || loading" (click)="onSubmit()">
      {{ mode == MODAL_MOD.ADD ? 'Add Login' : 'Edit' }}</p-button>
  </form>
</div>
