<form [formGroup]="form">
  <div class="flex-col gap-4">
    <p-floatlabel variant="in">
      <input class="w-full" type="text" pInputText formControlName="titleFormControl" required />
      <label for="titleFormControl">Title</label>
      @if (titleFormControl.hasError('maxlength')) {
        <p class="text-red-600">
          Too long : {{ titleFormControl.value?.length }} / {{ characterLimit }}
        </p>
      }
    </p-floatlabel>

    <p-floatlabel variant="in">
      <input class="w-full" type="text" pInputText formControlName="identifierFormControl" />
      <label for="identifierFormControl">Identifier : email or username</label>

      @if (identifierFormControl.hasError('maxlength')) {
        <p class="text-red-600">
          Too long : {{ identifierFormControl.value?.length }} / {{ characterLimit }}
        </p>
      }
    </p-floatlabel>

    <div class="flex gap-2 w-full">
      <p-floatlabel variant="in" class="w-full">
        <input
          id="add-edit-password"
          class="w-full"
          type="password"
          pInputText
          formControlName="passwordFormControl"
        />
        <label for="passwordFormControl">Password</label>
        @if (passwordFormControl.hasError('maxlength')) {
          <p class="text-red-600">
            Too long : {{ passwordFormControl.value?.length }} / {{ characterLimit }}
          </p>
        }
      </p-floatlabel>
      <div class="flex items-center">
        <p-button
          variant="outlined"
          severity="secondary"
          [icon]="showPassword() ? 'pi pi-eye' : 'pi pi-eye-slash'"
          id="generate-password-button"
          (click)="addEditTogglePasswordVisibility()"
        />
        <p-button
          variant="outlined"
          severity="secondary"
          icon="pi pi-sparkles"
          id="generate-password-button"
          (click)="generatePassword()"
        />
      </div>
    </div>

    <p-floatlabel variant="in">
      <input class="w-full" type="text" pInputText formControlName="urlFormControl" />
      <label for="urlFormControl">Url</label>
      @if (urlFormControl.hasError('maxlength')) {
        <p class="text-red-600">
          Too long : {{ urlFormControl.value?.length }} / {{ characterLimit }}
        </p>
      }
    </p-floatlabel>

    <p-floatlabel variant="in">
      <textarea
        class="w-full"
        type="text"
        pInputText
        formControlName="notesFormControl"
        (input)="noteChanged()"
      >
      </textarea>
      <label for="notesFormControl">Notes</label>
      <div class="flex justify-end">
        <span
          [ngClass]="{
            'text-sm': true,
            'text-red-600': notesFormControl.hasError('maxlength'),
          }"
          >{{ notesCharacterCount() }} / {{ characterLimit }}</span
        >
      </div>
    </p-floatlabel>

    <div class="flex justify-end">
      <p-button
        variant="text"
        severity="secondary"
        type="submit"
        [disabled]="!form.valid || loading"
        (click)="onSubmit()"
        [label]="mode === MODAL_MOD.ADD ? 'Add Login' : 'Edit'"
      />
    </div>
  </div>
</form>
