/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color:#faf9fd
}

button,
.a-button,
.a-button:link,
.a-button:visited,
.a-button:hover,
.a-button:focus,
.a-button:active {
    color: #44474e !important;
    border-radius: 4px !important;
}

.custom-modal .mat-mdc-dialog-container {
   border-radius: 4px !important;
   background-color: #faf9fd !important;
}