/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color:#faf9fd
}

button,
.a-button,
.a-button:link,
.a-button:visited,
.a-button:hover,
.a-button:focus,
.a-button:active {
    color: #44474e !important;
    border-radius: 4px !important;
}

.custom-modal .mat-mdc-dialog-container {
   border-radius: 4px !important;
   background-color: #faf9fd !important;
}

#close-dialog-button {
    position: absolute !important;
    right: 10px;
    top: 10px;
    cursor: pointer !important;
}

#close-dialog-button:hover {
    color: #737373 !important;
}

:host ::ng-deep .mat-chip {
  border-radius: 5px !important;
  /* container-shape-radius: 5px; */
}