<div class="flex items-center justify-center h-full w-full">
  <div class="flex-1 m-auto max-w-80 h-80">
    <h1 class="text-2xl font-bold">Sign in</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
      <p-iconfield class="mt-2">
        <input
          class="w-full"
          type="text"
          pInputText
          placeholder="Username"
          formControlName="username"
          required
        />
        <p-inputicon class="pi pi-user" />
      </p-iconfield>
      <p-iconfield class="mt-2">
        <input
          class="w-full"
          type="password"
          pInputText
          placeholder="Password"
          formControlName="password"
          required
        />
        <p-inputicon class="pi pi-lock" />
      </p-iconfield>
      <div class="w-full flex justify-end items-center">
        <a class="mr-1" routerLink="/signup">Signup</a>
        <p-button
          variant="text"
          severity="secondary"
          label="Sign in"
          type="submit"
          [disabled]="usernameFormControl.invalid || passwordFormControl.invalid || loading"
        />
      </div>
    </form>
  </div>
</div>
