<div id="signin-container">
  <div>
    <h1>Sign in</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">

      <p-iconfield>
        <input type="text" pInputText placeholder="Username" formControlName="username" required />
        <p-inputicon class="pi pi-user" />
      </p-iconfield>

      <p-iconfield>
        <input type="password" pInputText placeholder="Password" formControlName="username" required />
        <p-inputicon class="pi pi-lock" />
      </p-iconfield>

      <div class="buttons">
        <a class="a-button" style="margin-right: 10px;" mat-button routerLink="/signup">Signup</a>
        <p-button label="Sign in" type="submit"
          [disabled]="usernameFormControl.invalid || passwordFormControl.invalid || loading" />
      </div>
    </form>
  </div>
</div>
