<div class="modal-body">
    <h1 mat-dialog-title>Change Your Master Password</h1>
    <mat-icon class="close-button close-dialog-button" (click)="closeDialog()">close</mat-icon>
    <mat-dialog-content>
        <div class="settings-title-container">
            <div class="settings-title-text">
                It will reencrypt <strong><u>all your vaults</u></strong> with the new master password.
            </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
            <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                <mat-label>New Master Password</mat-label>
                <input matInput placeholder="" type="password"
                    formControlName="newMasterPassword" required>
                <mat-icon matSuffix>lock</mat-icon>
                @if (newMasterPasswordFormControl.hasError('required')) {
                <mat-error>New master password is required.</mat-error>
                }
                @if (newMasterPasswordFormControl.hasError('minlength')) {
                <mat-error>
                    New master password must be at least {{ minPasswordLength }} characters long.
                </mat-error>
                }
            </mat-form-field>
            <br>
            <mat-form-field class="full-width" appearance="fill" floatLabel="always">
                <mat-label>Confirm New Master Password</mat-label>
                <input matInput placeholder="" type="password" formControlName="confirmNewMasterPassword" required>
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
                    <strong>Note:</strong> Make sure you remember your new master password, as it cannot be recovered if forgotten.
            <br>
            <div class="buttons">
                <button mat-raised-button type="submit" matButton [disabled]="form.invalid || loading">Change Master Password</button>
            </div>
        </form>
    </mat-dialog-content>
</div>