<div class="modal-body">
  <h1 mat-dialog-title>Change Your Master Password</h1>
  <div class="settings-title-container">
    <div class="settings-title-text">
      It will reencrypt <strong><u>all your vaults</u></strong> with the new master password.
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
    <p-iconfield>
      <input
        type="password"
        pInputText
        placeholder="New master password"
        formControlName="newMasterPasswordFormControl"
        required
      />
      <p-inputicon class="pi pi-lock" />
      @if (newMasterPasswordFormControl.hasError('required')) {
        <p-message severity="error"> New master password is required. </p-message>
      }
      @if (newMasterPasswordFormControl.hasError('minlength')) {
        <p-message severity="error">
          New master password must be at least {{ minPasswordLength }} characters long.
        </p-message>
      }
    </p-iconfield>

    <p-iconfield>
      <input
        type="password"
        pInputText
        placeholder="Confirm master password"
        formControlName="confirmNewMasterPasswordFormControl"
        required
      />
      <p-inputicon class="pi pi-lock" />
      @if (newMasterPasswordFormControl.hasError('minlength')) {
        <p-message severity="error">
          New master password must be at least {{ minPasswordLength }} characters long.
        </p-message>
      }
    </p-iconfield>
    <strong>Note:</strong> Make sure you remember your new master password, as it cannot be
    recovered if forgotten.

    <div class="buttons">
      <p-button
        variant="text"
        severity="secondary"
        label="Change master password"
        type="submit"
        matButton
        [disabled]="form.invalid || loading"
      />
    </div>
  </form>
</div>
