<div class="text-sm mb-2">
  It will reencrypt <strong><u>all your vaults</u></strong> with the new master password.
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
  <p-iconfield>
    <input
      class="w-full"
      type="password"
      pInputText
      placeholder="New master password"
      formControlName="newMasterPassword"
      required
    />
    <p-inputicon class="pi pi-lock" />
  </p-iconfield>

  <p-iconfield>
    <input
      class="w-full mt-2"
      type="password"
      pInputText
      placeholder="Confirm master password"
      formControlName="confirmNewMasterPassword"
      required
    />
    <p-inputicon class="pi pi-lock" />
  </p-iconfield>
  <span class="text-sm">
    <strong>Note:</strong> Make sure you remember your new master password, as it cannot be
    recovered if forgotten.
  </span>
  <div class="flex justify-end mt-4 gap-2">
    <p-button variant="text" severity="secondary" label="Cancel" (click)="closeDialog()" />
    <p-button
      variant="text"
      severity="secondary"
      label="Change master password"
      type="submit"
      matButton
      [disabled]="form.invalid || loading"
    />
  </div>
</form>
