<div class="modal-body">
  <div class="change-password-title-container">
    <div class="change-password-title-text">
      <strong>This is <u>not</u> your master password</strong>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
    <p-iconfield>
      <input type="password" pInputText placeholder="Old password" formControlName="oldPassword" required />
      <p-inputicon class="pi pi-lock" />
    </p-iconfield>

    <p-iconfield>
      <input type="password" pInputText placeholder="New password" formControlName="newPassword" required
        on-focusout="inputFocusOut()" />
      <p-inputicon class="pi pi-lock" />
    </p-iconfield>

    <p-iconfield>
      <input type="password" pInputText placeholder="Confirm new password" formControlName="confirmNewPassword" required />
      <p-inputicon class="pi pi-lock" />
    </p-iconfield>

    <div class="buttons">
      <p-button label="Change Password" type="submit" [disabled]="form.invalid || loading" />
    </div>
  </form>
</div>
