<div id="signup-container">
  <div>
    <h1>Sign up</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="keypress($event)">
      <p-iconfield>
        <input type="text" pInputText placeholder="Username" formControlName="username" required />
        <p-inputicon class="pi pi-user" />
      </p-iconfield>

      <p-iconfield>
        <input
          type="password"
          pInputText
          placeholder="Password"
          formControlName="password"
          required
        />
        <p-inputicon class="pi pi-lock" />
      </p-iconfield>

      <p-iconfield>
        <input
          type="password"
          pInputText
          placeholder="Confirm Password"
          formControlName="confirmPassword"
          required
        />
        <p-inputicon class="pi pi-lock" />
      </p-iconfield>

      <div class="buttons">
        <a class="a-button" style="margin-right: 10px" mat-button routerLink="/signin">Signin</a>
        <p-button
          variant="text"
          severity="secondary"
          label="Sign up"
          type="submit"
          [disabled]="
            usernameFormControl.invalid ||
            passwordFormControl.invalid ||
            confirmPasswordFormControl.invalid ||
            loading
          "
        />
      </div>
    </form>

    @if (passwordFormControl.dirty && passwordFormControl.invalid) {
      <p-message severity="error">
        Password Requirements :
        <ul>
          <li>At least 8 characters</li>
          <li>At least one letter</li>
          <li>At least one digit</li>
          <li>At least one uppercase letter</li>
          <li>At least one lowercase letter</li>
          <li>At least one special character</li>
        </ul>
      </p-message>
    }
  </div>
</div>
